.main {
  width: 1296px;
  height: 633px;
  margin-bottom: 180px;
  @apply flex flex-col;
}
.main__header {
  font-size: 52px;
  width: 636px;
  @apply text-white text-center uppercase font-abeezee mx-auto;
}
.main__dots {
  margin: 40px 0 60px 0;
  @apply mx-auto;
}