.main
    width: 1296px
    height: 375px
    @apply bg-grey flex mb-5

.img
    width: 346px
    height: 312px

.leftArrow,.rightArrow
    &:hover
        transform: scale(1.075)
        @apply fill-coral

.page
    @apply flex justify-center

.card
    @apply mr-5
    &:last-child
        @apply m-0
