.main {
  height: 960px;
  margin: 40px 0 180px 0;
}

.header {
  font-size: 150px;
  margin-top: 168px;
  @apply text-coral flex justify-center select-none;
}

.text {
  width: 437px;
  height: 96px;
  font-size: 24px;
  @apply text-white mx-auto mt-10;
}

.svg {
  margin: 0 auto;
}