.main {
  width: 1296px;
  height: 600px;
  @apply flex items-end;
}

.cart {
  width: 306px;
  height: 428px;
  margin-right: 24px;
  @apply border border-solid border-coral;
}
.cart:last-child {
  margin: 0;
}
.cart__svg {
  width: 70px;
  height: 70px;
  margin-top: 86px;
  @apply flex items-end mx-auto;
}
.cart__header {
  width: 260px;
  height: 34px;
  font-size: 24px;
  @apply text-center text-white mx-auto mt-10 uppercase;
}
.cart__text {
  width: 226px;
  height: 88px;
  font-size: 16px;
  @apply mx-auto text-white text-center mt-5;
}
.cart__button {
  margin-top: 15px;
  @apply flex justify-center;
}