.master
    margin-top: 100px

.tr,.td
    width: 1296px
    @apply border border-grey border-solid text-white
.td
    min-width: 432px
.table
    height: 155px
    @apply flex items-center justify-center flex-col
    &__header
        font-size: 18px
        margin: 0 0 20px 0
    &__text
        font-size: 24px
        width: 265px
        height: 85px
        margin: 0 0 15px 0
        line-height: 25px
        @apply text-coral text-center uppercase
    &__numbers,&__date
        margin-bottom: 15px
        font-size: 24px
        @apply text-coral
        &:last-child
            margin: 0
