.main {
  height: 566px;
  widows: 1296px;
  @apply flex;
}
.main__header {
  @apply text-[24px] uppercase pt-[30px] pb-[30px] font-abeezee border-b-transparent;
}

.red {
  @apply text-coral text-[24px] pt-[25px] pb-[25px];
}
.red__brand {
  @apply flex flex-col uppercase;
}
.red__span {
  @apply font-thin font-abeezee uppercase;
}

span {
  @apply font-extrabold font-anton;
}

.prices {
  @apply text-grey text-[24px];
}

table {
  width: 100%;
  @apply text-center;
}